.invisible {
  display: none;
}
   .Input:focus, .p-Input--focused {
   box-shadow: 0 0 0 3px hsla(211, 100%, 50%, 25%), 0 0 0 1px hsla(211, 100%, 50%, 50%);
   outline: 0;
   }

   ::placeholder {
   color: #333!important;
   opacity: 1;}

  .Input:focus,~.input {display:none;}
  .p-Input-input {
   display: block;
   width: 100%;
   }

   .Input, .p-FauxInput {
    width: 100%;
    padding: 20px 10px 20px;
    background-color: #F7F8FA;
    border-radius: 5px;
    transition: background 0.15s ease, border 0.15s ease, box-shadow 0.15s ease, color 0.15s ease;
    border: none;
    font-size:16px;
    margin-bottom: 10px;
   }

#other:checked~ .price_input {
  display: flex;
  width: 34%;
  margin-right: 1vw;
  margin-left: 1vw;
  padding-bottom: 5px;
}
#other:checked~ .other_button {
  display: none;
}

.input_box {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000;
  font-family: Gotham, sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  padding: 9px 15px;
  text-align: center;
  background-color: #A7C6C1!important;
}

.div-block {
  width: 100%;
  max-width: 47vw;
  padding-top: 4vw;
  padding-bottom: 2vw;
  padding-left: 1vw;
  background-color: #ffffff;
  background-image: url('https://storage.googleapis.com/cdn.tzdakah.org/images/CAD.png');
  background-position: 109% 5%;
  background-size: 17vw;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.submit_button {
    width: 200px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #a7c6c1;
    font-family: Gotham, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 9px 15px;
    margin: 12px; 
    text-decoration: none;
    color: #000;
}

.StripeElement{
  max-width: 47vw;
  margin: auto;
  padding: 0 2vw;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Gotham, sans-serif;
  color: #fff;
  font-weight: 700;
}

.heading.the {
  font-family: Gotham, sans-serif;
  font-size: 9vw;
  line-height: 7vw;
  font-weight: 900;
}

.heading.daily {
  font-family: Gotham, sans-serif;
  font-size: 15vw;
  line-height: 13vw;
  font-weight: 900;
}

.heading.give {
  font-family: Gotham, sans-serif;
  display: inline-block;
  font-size: 15vw;
  line-height: 13vw;
  font-weight: 900;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.title-block {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.text-block {
  padding-top: 2vw;
  font-family: Gotham, sans-serif;
  color: #fff;
  font-size: 1.5vw;
  line-height: 2vw;
  font-weight: 700;
}

.text-block.bigmitzvah {
  padding-top: 0vw;
  font-family: Gotham, sans-serif;
  font-weight: 400;
}

.body {
  font-weight: 700;
}

.image {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  float: none;
  clear: none;
}

.logo-block {
  display: inline-block;
  max-width: 10vw;
  margin-left: 1vw;
  padding-left: 0px;
}

.image-2 {
  display: block;
}

.donation-block {
  padding:3vw 1vw 12px;
  display: block;
  width: 100%;
  max-width: 47vw;
}

.image-3 {
  position: static;
  display: inline-block;
  width: 3vw;
  margin-right: 0.5vw;
  margin-left: 1vw;
  padding-bottom: 0px;
  margin-bottom: 1vw;
}

.heading-2 {
  display: inline-block;
  padding-left: 0vw;
  font-family: Gotham, sans-serif;
  font-size: 3vw;
  line-height: 3vw;
  font-weight: 700;
  margin-bottom: 1vw;
}

.heading-3 {
  display: inline-block;
  padding-left: 1vw;
  font-family: Gotham, sans-serif;
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 400;
  margin-bottom: 1vw;
}

.radio-toolbar {
  display:flex;
  margin-bottom: 1vw;
  margin-top: 1vw;
}
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  margin-right: 1vw;
  margin-left: 1vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: transparent;
  font-family: Gotham, sans-serif;
  color: #000;
  font-size: 1.5vw;
  font-weight: 600;
  padding: 9px 15px;
}

.radio-toolbar label:hover {
  background-color: #ffffff;
  touch-action: manipulation;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #a7c6c1;
    color: #000;
}

.button {

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  margin-right: 1vw;
  margin-left: 1vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: transparent;
  font-family: Gotham, sans-serif;
  color: #000;
  font-size: 1.5vw;
  font-weight: 600;
}
.button:active,
.button:focus {
  background-color: #ffffff;}

.button-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.StripeElement {
  padding-top:1vw;

}

#payment-form {
  text-align: center;
}
@media screen and (max-width: 767px) {
 .input_box {
  font-size: 2.5vw;}
  
  .div-block {
    max-width: 62vw;
    padding-top: 6vw;
    background-position: 109% 5%;
    background-size: 25vw;
  }
  
  
  .StripeElement{
    max-width: 62vw;
    margin: auto;
    padding: 0 2vw;
  }

  .heading.the {
    font-size: 12vw;
    line-height: 10vw;
  }

  .heading.daily {
    font-size: 18vw;
    line-height: 16vw;
  }

  .heading.give {
    font-size: 18vw;
    line-height: 16vw;
  }

  .text-block {
    font-size: 2.3vw;
    line-height: 3vw;
  }

  .text-block.bigmitzvah {
    font-size: 2.3vw;
    line-height: 4vw;
  }

  .logo-block {
    max-width: 13vw;
    margin-left: 3vw;
  }

  .donation-block {
    max-width: 62vw;
  }

  .button {
    font-size: 2.5vw;
  }
  .radio-toolbar label {
    font-family: Gotham, sans-serif;
    font-size: 2.5vw;
    font-weight: 600;
}
}

@media screen and (max-width: 479px) {
 .input_box {
  font-size: 4vw;}
  
  .div-block {
    max-width: 478px;
    padding-top: 8vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
    background-size: 37vw;
  }

  .StripeElement{
    max-width: 478px;
    margin: auto;
    padding: 0 2vw;
  }
  
  .heading.the {
    font-size: 14vw;
    line-height: 12vw;
  }

  .heading.daily {
    font-size: 28vw;
    line-height: 26vw;
  }

  .heading.give {
    font-size: 28vw;
    line-height: 26vw;
  }

  .text-block {
    font-size: 3.5vw;
    line-height: 4vw;
  }
  
  .text-block.bigmitzvah {
    font-size: 3.5vw;
    line-height: 4vw;
  }

  .logo-block {
    max-width: 22vw;
    margin-left: 7vw;
  }

  .donation-block {
    max-width: 478px;
  }

  .heading-2 {
    font-size: 5vw;
    line-height: 5vw;
  }

  .heading-3 {
    font-size: 4vw;
    line-height: 4vw;
  }

  .button {
    font-family: Gotham, sans-serif;
    font-size: 4vw;
    font-weight: 600;
  }
  .radio-toolbar label {
    font-family: Gotham, sans-serif;
    font-size: 4vw;
    font-weight: 600;
}
  .image-3 {
    width: 6vw;
    margin-left: 3vw;
    font-size: 0px;
  }
  
}


@font-face {
  font-family: 'Gotham';
  src: url('https://storage.googleapis.com/cdn.tzdakah.org/fonts/Gotham-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://storage.googleapis.com/cdn.tzdakah.org/fonts/Gotham-UltraItalic.otf') format('opentype'), url('https://storage.googleapis.com/cdn.tzdakah.org/fonts/Gotham-BookItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://storage.googleapis.com/cdn.tzdakah.org/fonts/Gotham-XLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://storage.googleapis.com/cdn.tzdakah.org/fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://storage.googleapis.com/cdn.tzdakah.org/fonts/Gotham-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://storage.googleapis.com/cdn.tzdakah.org/fonts/Gotham-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://storage.googleapis.com/cdn.tzdakah.org/fonts/Gotham-Light.otf') format('opentype'), url('https://storage.googleapis.com/cdn.tzdakah.org/fonts/Gotham-XLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
