body {
  margin:0px;
}
.Top {
  padding: 10px;
  background-color: #A7C6C1;
  display: flex;
  justify-content: center;
}
.Image-2 {
    height: 100px;
}
.Outer, .Message, .Appear, .Statement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Gotham, sans-serif;
  padding: 0 20px 30px;
}
.Message {
  padding-bottom: 20px;
}
.Appear {
  font-weight: 200;
  color: #555;
}
.Check {
    padding: 50px 0 0;
}
.Statement {
  flex-direction: row;
  margin-top: -50px;
  color: #666;
}
.Button_block{
  text-align: center;
}
.Form_button{
  width: 200px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: Gotham, sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 9px 15px;
    margin: 25px 0;
    text-decoration: none;
    color: #000;
}
.Form_block {
  display: flex;
    flex-direction: column;
    padding: 35px 10px 0;
}
.Public {
  font-size: 14px;
}
 #Company {
   padding-right: 5px;
   font-weight: 600;
 }
 #Total {
   padding-left: 5px;
 }
label {
    text-align: left;
    font-family: Gotham, sans-serif;
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 5px;
}
.Column {
  float: left;
  width: 70%;
}
.Price_Column {
  float: left;
  width: 30%;
  text-align: right;
}
.Table{
  text-align: left;
  padding-bottom: 10px;
  display: flex;
}
h3,p {
  margin:0;
  color: #777;
  font-weight: 200;
  font-family: Gotham, sans-serif;
  padding-bottom: 2px;
}
p {
  font-size: 14px;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://603550.github.io/BigMitzvah/fonts/Gotham-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://603550.github.io/BigMitzvah/fonts/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://603550.github.io/BigMitzvah/fonts/Gotham-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham';
  src: url('https://603550.github.io/BigMitzvah/fonts/Gotham-Light.otf') format('opentype'), url('https://603550.github.io/BigMitzvah/fonts/fonts/Gotham-XLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
